doctype html
html
  head
    title= title
    include stylesheets
    block css
  body
    header
      include nav
    main
      .container
        block content
    footer.page-footer.indigo.darken-4
      .footer-copyright
        .container=(new Date()).getFullYear() + " Copyright (C) Brownlee Ferguson & Won Oh"
    include scripts
    block js